body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

h1{
    color: rgb(238, 102, 102);
}

form{
    background-color: rgb(171, 173, 255);
    text-align: center;
    max-width: 350px;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(153, 149, 149);
    transition: transform .2s; /* Animation */
}

form:hover{
    transform: scale(1.1);
}

.textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(238, 91, 91);
    font-size: 1.5em;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: red;
    transition: 0.5s; 
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}